/*** custom variables ***/
:root {
    /** colors **/
    /* primary */
    --clr-very-dark-magenta: hsl(300, 43%, 22%);
    --clr-soft-pink: hsl(333, 80%, 67%);
    
    /* neutral */
    --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
    --clr-light-grayish-magenta: hsl(300, 24%, 96%);
    --clr-white: hsl(0, 0%, 100%);

    /** typography **/
    --ff-sans: 'Spartan', sans-serif;

    --fs-small: 1.3rem;
    --fs-normal: 1.5rem;
    --fs-large: 3.2rem;
    --fs-large-desktop: 4.8rem;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/*** reset ***/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/*** set-up ***/
html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;
    min-height: max-content;

    font-family: var(--ff-sans);
    font-size: var(--fs-normal);
    font-weight: var(--fw-regular);
    color: var(--clr-dark-grayish-magenta);

    background-color: var(--clr-white);
}

/*** components ***/
.section {
    display: grid;
    grid-column: repeat(6, 1fr);
    grid-template-areas: 
        'header'
        'ratings'
        'testimonials';
    gap: 3.78rem;

    width: 37.3rem;
    margin: 0 auto;
    padding: 8rem 2.3rem;

    background-color: var(--clr-white);
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--clr-light-grayish-magenta);
}

@media (min-width: 50em) {
    .section {
        grid-template-areas: 
        'header ratings'
        'testimonials testimonials';
        gap: 0;

        width: 144rem; 
        padding: 13rem 16.3rem 9.9rem 16.3rem;

        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-position: left top, right bottom;
        background-repeat: no-repeat;
    }
}

/* header */
.section__header {
    grid-area: header;
    text-align: center;
}

.section__header__heading {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-magenta);
    line-height: 1;
    letter-spacing: -1px;
}

.section__header__text {
    margin-top: 2.4rem;
    font-weight: var(--fw-medium);
    line-height: 1.65;
    letter-spacing: -0.5px;
}

@media (min-width: 50em) {
    .section__header {
        text-align: left;
        margin-right: 22rem;
    }

    .section__header__heading {
        font-size: var(--fs-large-desktop);
        letter-spacing: -1.75px;
    }

    .section__header__text {
        margin-top: 1.4rem;
    }
} 
/* ---end of header--- */   

/* ratings */
.section__ratings {
    grid-area: ratings;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: space-between;
    position: relative;
}

.section__ratings__rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 7.8rem;
    background-color: var(--clr-light-grayish-magenta);
    border-radius: 0.8rem;
}

.section__ratings__stars {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 0.8rem;
    /* section star as repeated background image*/
    /* background-image: url(./images/icon-star.svg);
    background-position: center;
    background-repeat: space; */
}

.section__ratings__rating {
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    color: var(--clr-very-dark-magenta);
}

@media (min-width: 50em) {
    .section__ratings {
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 1.4rem;
    }

    .section__ratings__rating-container {
        flex-direction: row;
        justify-content: flex-start;
        width: 44.5rem;
        height: 5.6rem;
    }

    .section__ratings__stars {
        margin-bottom: 0.2rem;
        padding: 0 3.25rem;
    }

    .rating1 {
        right: 9.5rem;
    }

    .rating2 {
        right: 4.7rem;
    }
}
/* ---end of ratings--- */

/* testimonials */
.section__testimonials {
    grid-area: testimonials;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    position: relative;
    margin-top: 1rem;
}

.section__testimonials__testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.7rem;
    position: relative;
    padding: 3.45rem 3.2rem 3.2rem 3.2rem;
    background-color: var(--clr-very-dark-magenta);
    border-radius: 0.85rem;
}

.section__testimonials__header {
    display: flex;
    align-items: center;
    gap: 2.35rem;
    margin-top: 0.5rem;
}

.section__testimonials__image {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.section__testimonials__name{
    padding-top: 0.2rem;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    color: var(--clr-light-grayish-magenta);
}

.section__testimonials__description {
    margin-top: 0.5rem;
    font-size: var(--fs-small);
    color: var(--clr-soft-pink);
    opacity: 0.8;
}

.section__testimonials__quoteblock {
    font-size: var(--fs-small);
    color: var(--clr-light-grayish-magenta);
    line-height: 1.7;
    letter-spacing: -0.2px;
}

@media (min-width: 50em) {
    .section__testimonials {
        flex-direction: row;
        justify-content: space-between;
        gap: auto;
        margin-top: 10rem;
    }

    .section__testimonials__testimonial-container {
        width: 35.1rem;
        padding-bottom: 4rem
    }

    .section__testimonials__quoteblock {
        padding-left: 0.5rem;
    }

    .testimonial1 {
        bottom: 3.2rem;
    }

    .testimonial2 {
        bottom: 1.6rem;
    }
}
/* ---end of testimonials--- */

/*** footer ***/
.attribution {
    width: 100%;
    padding: 1.5rem 0;
    font-size: 1.1rem;
    color: var(--clr-very-dark-magenta);
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 50em) {
    .attribution {
        position: absolute;
        bottom: 0;
    }
}